<div class="engagement-block">
  <!-- <div class="row">
    <div class="col-lg-12">
      <est-data-carousal-dc></est-data-carousal-dc>
    </div>
  </div>  -->
  <div class="row">
    <div class="col-lg-12">
      <div class="row no-gutters">
        <div class="col-lg-4" *ngFor="let year of (engagement$ | async)?.changeableYears; let i = index">
          <dev-calendar-item-dc
            [year]="year"
            (onMonthSuggested)="handleMonthSuggestion($event)"
            (onMonthUnselected)="handleUnSelection()"
            (onMonthSelected)="handleMonthSelection($event)"
          ></dev-calendar-item-dc>
        </div>
      </div>
    </div>
  </div>
</div>
