{
    "defaultSeverity": "warning",
    "rules": {
        "color-no-invalid-hex":true,
        "font-family-no-duplicate-names":true,
        "font-family-no-missing-generic-family-keyword":true,
        "string-no-newline":true,
        "unit-no-unknown":true,
        "property-no-unknown":true,
        "declaration-block-no-duplicate-properties":true,
        "block-no-empty":true,
        "selector-type-no-unknown":true,
        "comment-no-empty":true,
        "no-descending-specificity":null
    },
    "ignoreFiles": [
        "**/scss/vendors/**/*.scss",
        "**/developer-app/**/*.scss"
    ]
}