<gosi-breadcrumb-dc></gosi-breadcrumb-dc>

<div class="content">
  <div class="row">
    <div class="col-md-6" *ngIf="isToggleRequired">
      <gosi-input-toggle-dc [control]="toggleControl" (changeEvent)="makeMandatory($event)" label="Required State">
      </gosi-input-toggle-dc>
    </div>
    <div class="col-md-6" *ngIf="isDisabledRequired">
      <gosi-input-toggle-dc [control]="disabledControl" (changeEvent)="makeDisabled($event)" label="Disabled State">
      </gosi-input-toggle-dc>
    </div>
  </div>

  <gosi-card-dc type="secondary" [heading]="heading">
    <div class="row">
      <div [ngClass]="[state.hasFullWidth ? 'col-md-12' : 'col-md-6']">
        <router-outlet></router-outlet>
      </div>
    </div>
  </gosi-card-dc>
</div>
