<div class="row no-gutters calendar-block m-1">
  <div class="col-lg-12">
    <h6 class="year-title">{{ year.year }}</h6>
  </div>

  <div class="col-lg-12">
    <div class="row d-flex months-row no-gutters" *ngFor="let monthRow of year.monthsRows; let i = index">
      <div *ngIf="monthRow.activeClass" class="active-hlt" [ngClass]="monthRow.activeClass"></div>
      <div *ngIf="monthRow.suggestedClass" class="suggested-hlt" [ngClass]="monthRow.suggestedClass"></div>
      <div *ngIf="monthRow.selectedClass" class="selected-hlt" [ngClass]="monthRow.selectedClass"></div>
      <div
        class="col-lg-3 col-3 d-flex align-self-center justify-content-center"
        *ngFor="let month of monthRow.months; let j = index"
      >
        <div
          class="month-card"
          [ngClass]="{ disabled: month.disabled }"
          (mouseover)="handleMouseOver(monthRow, month)"
          (mouseout)="handleMouseOut(monthRow, month)"
          (click)="handleSelection(monthRow, month)"
        >
          {{ month.labelKey | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
