<!--
  ~ Copyright GOSI. All Rights Reserved.
  ~  This software is the proprietary information of GOSI.
  ~  Use is subject to license terms.
  -->

<gosi-app-bar-sc [showTaminatyLogo]="true" [showAmeenLogo]="false"></gosi-app-bar-sc>
<gosi-side-bar-sc [menuItems]="menuItems"></gosi-side-bar-sc>

<div class="container-bk"></div>
<div class="main-container inside-item">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="digitalStamp">
  <div class="re-edited-box-icon"><a target="_blank"
      href="http://raqmi.dga.gov.sa/platforms/DigitalStamp/ShowCertificate/5172"><img
        src="https://raqmi.dga.gov.sa/platforms/DigitalStamp/GetStampFile/2258"></a></div>
</div>

<gosi-footer-dc></gosi-footer-dc>
<!-- <div class="pt-2 pt-md-5">
  <gosi-footer-dc></gosi-footer-dc>
</div> -->
