// @import '~fullcalendar-scheduler/main';
.fc .fc-button-primary {
  display: none;
}

.fc .fc-h-event {
  background-color: #adadad !important;
  border: #adadad !important;
}

.fc-event {
  border-radius: 0;
}
.calendar-view {
  //   ::ng-deep .fc-header-toolbar fc-toolbar {
  //     .fc-header-toolbar fc-toolbar  {
  //         .fc-toolbar-chunk{
  //             .fc-today-button fc-button fc-button-primary {
  //                 display: none !important;
  //               }
  //         }
  //       }
  //   }
  ::ng-deep .fc-today-button {
    display: none;
  }
  ::ng-deep .fc-toolbar.fc-header-toolbar {
    justify-content: center;
  }
  ::ng-deep .fc-daygrid-day-events {
    margin: 0;
    width: 1.5rem !important;
  }
  ::ng-deep .fc-button-primary {
    background-color: white;
    color: #666;
    border-radius: 0;
    border: 1px solid #ddd;
    &:hover,
    &::after {
      background-color: white;
      color: #666;
      border: 1px solid #ddd;
    }
  }
  ::ng-deep #fc-dom-1.fc-toolbar-title {
    height: 35px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    padding: 10px 20px;
  }
  ::ng-deep .fc-daygrid-day-top {
    height: 55px;
    a {
      color: #666;
    }
  }
  ::ng-deep .fc-col-header-cell-cushion {
    color: #666 !important;
  }
  ::ng-deep .fc-highlight {
    background: #ddd;
  }
}
