.table {
  margin-top: 20px;
  .thead-light {
    color: gray;
    font-size: 1.1rem;
    font-weight: 700;
  }

  tr {
    th {
      border-top: none;
      border-bottom: none;
      font-weight: 400;

      &:nth-child(1) {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      &:nth-child(3) {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  td {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
  }
}
