<!--
  ~ Copyright GOSI. All Rights Reserved.
  ~  This software is the proprietary information of GOSI.
  ~  Use is subject to license terms.
  -->

<gosi-app-bar-sc [showTaminatyLogo]="true" [showAmeenLogo]="false"></gosi-app-bar-sc>
<ng-container *ngIf="!mobileView"><gosi-side-bar-sc [menuItems]="menuItems"></gosi-side-bar-sc> </ng-container>

<!-- <div *ngIf="mobileView || ipad" class="container-bk"></div> -->
<div class="backdrop"></div>

<div class="main-container inside-item">
  <div class="main-content" style="overflow: hidden">
    <router-outlet></router-outlet>
  </div>
</div>

<div
  class="pt-2 pt-md-5"
  style="position: sticky; position: -webkit-sticky; bottom: 0"
  *ngIf="mobileView && appToken === 'INDIVIDUAL_APP'"
>
  <ng-container *ngIf="mobileView && appToken === 'INDIVIDUAL_APP'"
    ><gosi-side-bar-individual-app-mobile-sc [menuItems]="menuItems"> </gosi-side-bar-individual-app-mobile-sc>
  </ng-container>
</div>
<div class="pt-2 pt-md-5" *ngIf="!mobileView">
  <gosi-footer-dc></gosi-footer-dc>
</div>
