<!--
  ~ Copyright GOSI. All Rights Reserved.
  ~  This software is the proprietary information of GOSI.
  ~  Use is subject to license terms.
  -->

<ngx-loading-bar includeSpinner="false" color="#ffffff" height="4px"></ngx-loading-bar>
<router-outlet></router-outlet>
<ng-template #benefitExpDate>
  <gosi-modal-dc></gosi-modal-dc>
    <div class="container p-4">
      <div class="d-flex justify-content-center flex-column benefit-popup">
        <div class="mb-2">
          <label class="expire-label m-0"> <fa-icon class="icon-value" icon="clock"></fa-icon> {{ 'BENEFIT-EXP' |
            translate | uppercase }}</label>
        </div>
        <div class="d-flex flex-nowrap">
          <div class="timer-custom">
            <span class="timer-time">{{remainingMonths}}
              <hr><span style="font-size: 1rem;">{{ 'MORE_THAN_THREEE_MONTHS' | translate | uppercase }}</span>
            </span>
          </div>
          <div class="timer-custom">
            <span class="timer-time">{{remainingDays}}
              <hr><span style="font-size: 1rem;">{{ 'DAYS' | translate | uppercase }}</span>
            </span>
          </div>
        </div>
        <label class="exp-text mt-4">{{'BENEFIT-EXP-TEXT' | translate }}</label>
        <div class="mb-2">
          <gosi-button-dc type="secondary" (submit)="closeBenefitExpPopup()">{{ 'CLOSE' | translate }}
          </gosi-button-dc>
        </div>
      </div>
    </div>
</ng-template>
<gosi-scroll-to-top-dc></gosi-scroll-to-top-dc>
<!-- <div class="chatBotGosi" [innerHTML]="chatbotHtml"></div> -->