<div class="row">
  <div class="col-md-6">
    <gosi-input-select-dc label="Button Type" [list]="alert_types" [control]="bilingualControl"> </gosi-input-select-dc>
  </div>
  <div class="col-md-3 d-flex align-items-center">
    <input type="checkbox" id="scales" name="scales" [(ngModel)]="onlyOutline" />
    <label for="scales" class="mt-2 mb-2 pl-2 pr-2">Outline</label>
  </div>

  <div class="col-md-12">
    <gosi-alert-dc
      message="{{ (bilingualControl.get('english').value || 'Custom' | titlecase) + ' Alert' }} "
      [transparent]="onlyOutline"
      [type]="bilingualControl.get('english').value || 'success'"
      [dismissible]="disabled"
    ></gosi-alert-dc>
  </div>
</div>
