.container {
  position: relative;
  height: 40rem;
  width: 40rem;
  margin: 2rem;
}
.top-barvalue {
  display: flex;
  align-items: center;
  margin-bottom: 1.35rem;
}

:host {
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn-default {
  color: white;
  background-color: blue;
}

.btn-change {
  color: Red;
  background-color: white;
}
.event-value {
  border-radius: 15%;
  background-color: #adadad;
  border: 1px solid #adadad !important;
  width: 1.5rem;
  text-align: center;
}
.round-date {
  background-color: #fff;
  padding: 0.55rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  .selected {
    color: color('green');
  }
}

.round-date.active {
  background: #cccaca;
}
.round-date.weekend {
  background: #ffe8e8;
}
.events {
  display: flex;
}

.date-section {
  height: 60px;
  cursor: pointer;
  text-align: right;
}

.event {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #ed752a;
  border-radius: 50%;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
  cursor: pointer;
}
