<div class="col-lg-8">
  <div class="container">
    <ngx-simple-calendar [options]="true" #ngSimpleCalendar>
      <ng-template
        #day
        let-date="number"
        let-month="month"
        let-events="events"
        let-active="today"
        let-weekend="weekend"
        let-startDateTime="toDate"
      >
        <div class="round-date" [class.active]="active" [class.activeMonth]="active">
          <span (click)="getDate($event)" class="date-section">{{ date }}</span>
          <span class="event-value">{{ sampleTwo.length }}</span>
        </div>
      </ng-template>
    </ngx-simple-calendar>
  </div>
</div>
<div class="col-lg-4">
  <gosi-card-dc> The selected date = {{ currentdate }} </gosi-card-dc>
</div>
